In [24]:
import pandas as pd
import numpy as np 
import split_data as sd 
import CleanData as cd 
import estandarizacion as st

In [3]:
df = pd.read_csv('/home/relka/Escritorio/SS_VerPy/population_by_country_2020.xls')

In [5]:
df.sample(5)

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
204,Cayman Islands,65854,1.19 %,774,274,240,NaN,N.A.,N.A.,97 %,0.00 %
18,Germany,83830972,0.32 %,266897,240,348560,543822.0,1.6,46,76 %,1.07 %
8,Russia,145945524,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
81,Haiti,11426356,1.24 %,139451,414,27560,-35000.0,3.0,24,57 %,0.15 %
232,Niue,1628,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (or dependency)  235 non-null    object
 1   Population (2020)        235 non-null    int64
 2   Yearly Change            235 non-null    object
 3   Net Change               235 non-null    int64
 4   Density (P/Km²)          235 non-null    int64
 5   Land Area (Km²)          235 non-null    int64
 6   Migrants (net)           201 non-null    float64
 7   Fert. Rate               235 non-null    object
 8   Med. Age                 235 non-null    object
 9   Urban Pop %              235 non-null    object
 10  World Share              235 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 20.3+ KB

In [7]:
df.shape

(235, 11)

In [8]:
df.isnull().sum()

Country (or dependency)     0
Population (2020)           0
Yearly Change               0
Net Change                  0
Density (P/Km²)             0
Land Area (Km²)             0
Migrants (net)             34
Fert. Rate                  0
Med. Age                    0
Urban Pop %                 0
World Share                 0
dtype: int64

In [9]:
df.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (or dependency)  235 non-null    object
 1   Population (2020)        235 non-null    int64
 2   Yearly Change            235 non-null    object
 3   Net Change               235 non-null    int64
 4   Density (P/Km²)          235 non-null    int64
 5   Land Area (Km²)          235 non-null    int64
 6   Migrants (net)           201 non-null    float64
 7   Fert. Rate               235 non-null    object
 8   Med. Age                 235 non-null    object
 9   Urban Pop %              235 non-null    object
 10  World Share              235 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 20.3+ KB

In [15]:
X = df.drop(columns=['Country (or dependency)','Density (P/Km²)','Yearly Change','Fert. Rate','Med. Age',
                    'Urban Pop %', 'World Share'])

In [13]:
X.head()

,Population (2020),Net Change,Density (P/Km²),Land Area (Km²),Migrants (net)
0,1440297825,5540090,153,9388211,-348399.0
1,1382345085,13586631,464,2973190,-532687.0
2,331341050,1937734,36,9147420,954806.0
3,274021604,2898047,151,1811570,-98955.0
4,221612785,4327022,287,770880,-233379.0

In [14]:
X.isnull().sum()

Population (2020)     0
Net Change            0
Density (P/Km²)       0
Land Area (Km²)       0
Migrants (net)       34
dtype: int64

In [16]:
y =df['Density (P/Km²)']

In [19]:
type(X)

pandas.core.frame.DataFrame

In [22]:
type(y)

numpy.ndarray

In [32]:
y = y.values

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [45]:
y = pd.DataFrame(y)

In [46]:
y

        0
0     153
1     464
2      36
3     151
4     287
..    ...
230    50
231     0
232     6
233   136
234  2003

[235 rows x 1 columns]

In [43]:
yr = y.reshape(-1,1)

In [47]:
print(y.shape)
print(yr.shape)

(235, 1)
(235, 1)

In [26]:

Cleaner = cd.CleanData()

In [28]:
X.shape

(235, 4)

In [27]:
Xcln = Cleaner.clean_nans(X)

In [29]:
Xcln.shape

(201, 4)

In [ ]:
if y.shape[0]>Xcln.shape[0]:

y es mas grande que X

In [48]:
[m,n] = Xcln.shape

In [50]:
y = y.iloc[:m,:]

In [52]:

import logging
# Configure logging for debugging
logging.basicConfig(
    level=logging.INFO,
    format='%(asctime)s - %(levelname)s - %(message)s'
)
logger = logging.getLogger(__name__)

In [53]:
logger.debug('hola hector')